.cardHover {
  filter: drop-shadow(
    0 0 5px light-dark(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.2))
  );
}

.cardHover:hover .iconBox,
.cardHover:hover .innerCircleBox,
.cardHover:hover .outerCircleBox {
  transform: scale(1.5);
}

.iconBox,
.innerCircleBox,
.outerCircleBox {
  transition: transform 150ms ease;
}

.iconBox {
  display: "flex";
  width: 31;
  justify-content: "center";
  align-items: "center";
  height: 31;
  border: "dashed 1px";
  border-radius: "50%";
  filter: drop-shadow(
    0 0 6px light-dark(rgba(0, 0, 0, 1), rgba(255, 255, 255, 1))
  );
}

.innerCircleBox {
  position: absolute;
  top: -55px;
  right: -55px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.outerCircleBox {
  position: absolute;
  top: -70px;
  right: -70px;
  display: inline-block;
  opacity: 40%;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}
