.cardHover {
  filter: drop-shadow(
    0 0 5px light-dark(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.2))
  );
}

.cardHover:hover .iconBox,
.cardHover:hover .innerCircleBox,
.cardHover:hover .outerCircleBox {
  transform: scale(1.5);
}

.cardHover:hover .iconBox {
  transform: rotate(0.5turn);
}

.iconBox,
.innerCircleBox,
.outerCircleBox {
  transition: transform 150ms ease;
}

.iconBox {
  display: "flex";
  width: 31;
  justify-content: "center";
  align-items: "center";
  height: 31;
  border: "dashed 1px";
  border-radius: "50%";
  filter: drop-shadow(
    0 0 4px rgba(255, 255, 255, 1)
  );
}

.innerCircleBox {
  position: absolute;
  top: -55px;
  right: -55px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.outerCircleBox {
  position: absolute;
  top: -70px;
  right: -70px;
  display: inline-block;
  opacity: 50%;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.treesContainer {
  position: absolute;
  left: 0;
  top: 0;
  height: 300px;
  width: 100%;
  pointer-events: none;
  opacity: 0.3;
}

.treeWrapper {
  transition: transform 300ms cubic-bezier(0.22, 1, 0.36, 1);
  will-change: transform;
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  transform-origin: bottom center;
}

.tree {
  opacity: 0.3;
}
.treeTriangle3 {
  position: absolute;
  width: 190px;
  height: 100px;
  top: 139px;
  left: -62px;
  background: white;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  z-index: 1;
}
.treeTriangle2 {
  position: absolute;
  width: 120px;
  height: 80px;
  top: 70px;
  left: -28px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: white;
  z-index: 2;
}
.treeTriangle1 {
  position: absolute;
  width: 70px;
  height: 80px;
  top: 0;
  left: -4px;
  background: white;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  z-index: 3;
}
