.cardHover {
  filter: drop-shadow(
    0 0 5px light-dark(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.2))
  );
}

.cardHover:hover .iconBox,
.cardHover:hover .innerCircleBox,
.cardHover:hover .outerCircleBox {
  transform: scale(1.5);
}

.iconBox,
.innerCircleBox,
.outerCircleBox {
  transition: transform 150ms ease;
}

.iconBox {
  display: "flex";
  width: 31;
  justify-content: "center";
  align-items: "center";
  height: 31;
  border: "dashed 1px";
  border-radius: "50%";
  filter: drop-shadow(
    0 0 6px light-dark(rgba(0, 0, 0, 1), rgba(255, 255, 255, 1))
  );
}

.innerCircleBox {
  position: absolute;
  top: -55px;
  right: -55px;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.outerCircleBox {
  position: absolute;
  top: -70px;
  right: -70px;
  display: inline-block;
  opacity: 50%;
  width: 140px;
  height: 140px;
  border-radius: 50%;
}

.tree {
  opacity: 0.3;
}
.treeTriangle3 {
  position: absolute;
  width: 250px;
  height: 100px;
  top: 149px;
  left: -93px;
  background: white;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  z-index: 1;
}
.treeTriangle2 {
  position: absolute;
  width: 130px;
  height: 70px;
  top: 94px;
  left: -34px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: white;
  z-index: 2;
}
.treeTriangle1 {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 39px;
  left: -4px;
  background: white;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  z-index: 3;
}
