.title {
  font-family: Outfit, var(--mantine-font-family);
  font-weight: 400;
}

.title[data-lang='uk'] {
  font-size: 1.3rem;
}

.subtitle {
  color: var(--mantine-color-dimmed);
  font-size: var(--mantine-font-size-sm);
  margin-top: 5px;
}

.appImage {
  filter: drop-shadow(
    0 0 6px light-dark(rgba(0, 0, 0, 0.6), rgba(255, 255, 255, 0.4))
  );
}
