.header {
  height: 56px;
  margin-bottom: 120px;
  background-color: var(--mantine-color-body);
}

.inner {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  min-height: calc(100vh - var(--app-shell-header-height) - var(--app-shell-footer-height)) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin-left: -10px;
  position: relative;
  top: 9px;
  left: -22px;
  font-family: roboto, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: light-dark(#2b3348, white);

}