:root {
  --app-header-z-index: 200;
  --app-header-height: rem(60);
  --app-header-horizontal-padding: calc(var(--mantine-spacing-md) * 4);
  --app-header-horizontal-padding-mobile: var(--mantine-spacing-md);

  --sns-background: #f3f4f6;
  --sns-background-dark: #0f0f0f;
}

html,
body {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  appearance: none;
}

.hideScrollbar {
  ms-overflow-style: none !important /* IE and Edge */;
  scrollbar-width: none !important /* Firefox */;

  &::-webkit-scrollbar {
    display: none !important;
  }
}
